{% extends "base.html" %}
{% block content%}
{% include "includes/secritynav.html" %}
<div class="panel panel-primary">
    <div class="panel-heading">网络安全-端口扫描</div>
</div>

    <div class="table-responsive">
        <form role="form" id="templatemo-preferences-form" action="/ops/security/" method="post">
        <table class="table table-striped table-hover table-bordered">
          <thead>
            <tr>
              <th><input type="checkbox" name="ports" id="ports" value="portall" /></th>
              <th>主机名</th>
              <th>公网IP</th>
              <th>内网IP</th>
              <th>游戏平台</th>
              <th>云平台</th>
              <th>备注</th>
              <th>状态</th>
            </tr>
          </thead>
            <tbody>
            {% for host in hosts%}
            {% if host.Status == 'RUN' %}
            <tr class="success">
            {% else %}
            <tr class="danger">
            {% endif %}
                <td> <input type="checkbox" name="port" value="{{host.id}}" />{{forloop.counter}}</td>
                <td>{{ host.HostName }}</td>
                <td>{{ host.IP1 }}</td>
                <td>{{ host.IP2 }}</td>
                <td>{{ host.GPlat }}</td>
                <td>{{ host.SrvPlat }}</td>
                <td>{{ host.Memo }}</td>
                <td>{{ host.Status }}</td>
            </tr>
            <tr>
                <td colspan="8">
                    {% if host.Status == 'RUN' %}
                    <pre class="alert-success">
                        {{host.DetailStatus}}
                    </pre>
                    {% else %}
                    <pre class="alert-danger">
                      <strong>Down!</strong>{{host.IP2}}
                    </pre>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            <tr>

                <td colspan="8"><button type="submit" class="btn btn-primary" style="float:left;" >扫描</button> </td>

            </tr>
          </tbody>

    </table>
    </form>
    </div>

{% endblock %}